################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CCFE_Toolbox/FileContentIndex/3b055126-5fe3-47d6-9978-30d6cfecd462.vsidx
/.vs/CCFE_Toolbox/FileContentIndex
